@import 'materialize';
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 100%;
}

main {
    flex: 1 0 auto;
}

.clearfix {
    clear: both;
}

// .logstatus {
//     margin: {
//         right: 3%;
//     }
// }
nav {
    height: auto !important;
    // position: absolute;
    .nav-content {
        &>div {
            margin: {
                bottom: 0;
            }
        }
    }
}

// @media #{$medium-and-down} {
//     .nav-wrapper p {
//         margin-top: 47px;
//     }
// }
.form_div {
    h3 {
        color: color('pink', 'lighten-2');
        font: {
            size: 2rem;
            weight: 500;
        }
        padding: {
            left: 0.75rem;
        }
    }
    &>div {
        float: none !important;
        margin: {
            right: auto;
        }
    }
    input {
        padding-left: 5px;
    }
}